*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #000000;
$yellow: #FF5F2D;
$blue: #4D5FE3;

body {
    box-sizing: border-box;
    color: #484848;
    padding: 0 !important;  
    font-size: 18px;  
    line-height: 1.6;
    transition: .3s all; 
    position: relative;
    font-weight: 400;
    font-family: 'SVN-Gilroy';
    background: #fff;
    color: #100A0A;
    overflow-x: hidden;
    &.active {
        overflow: hidden;
    }
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;        
        transition: .3s all;   
        margin-bottom: 0;  
        outline: none !important;    
    }    
    a { 
        transition: .3s all !important; 
        color: #000000;   
        &:hover {
            color: $yellow;       
        }  
    } 
    ul {    
    	padding: 0;   
    	margin: 0;  
    }   
    input, button {    
    	outline: none !important; 
    	box-shadow: none; 
    	transition: .3s all; 
    }
    .slick-slide {
    	height: auto;  
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1200px;
    } 
    .container-fluid {
        padding: 0 64px;
    }
    img {
        max-width: 100%;
    }
    .slick-slider {
        margin-bottom: 0;
    }
}

header  {
    background: #f8f6f1;
    padding: 20px 0;
    z-index: 1001;
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.h-menu {
    ul {
        li {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.h-right {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
    }
    ul {
        li {
            margin-right: 12px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .ac-head {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .btn-head {
        height: 40px;
        padding: 0px 20px;
        border-radius: 40px;
    }
}